<!-- <div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
  <p>{{ valor }}</p>
</div>

<button 
  pButton 
  (click)="mostrarNombre()" 
  icon="pi pi-bell" 
  iconPos="right" 
  label="Cambiar Nombre"
  class="p-button-help"
></button>

<br>
<br> -->

<!-- Ejemplo de una tarjeta -->
<p-card [header]="nombre" [subheader]="perfil">
  {{descripcion}}
  <ng-template pTemplate="footer">
    <button pButton pRipple type="button" label="Ver perfil"></button>
    <button pButton pRipple type="button" label="Agregar" class="p-button-secondary"></button>
  </ng-template>
</p-card>